<template>
    <div>
        <v-data-table
            :headers="headers"
            :items="books"
            :items-per-page="5"
            class="elevation-1"
            :loading="loading"
            loading-text="Loading... Please wait"
            :search="search"
            sort-by="id"
            sort-desc
            :footer-props="{
                showFirstLastPage: true,
                firstIcon: 'mdi-arrow-collapse-left',
                lastIcon: 'mdi-arrow-collapse-right',
                prevIcon: 'mdi-minus',
                nextIcon: 'mdi-plus'
            }"
        >
            <template v-slot:top>
                <v-toolbar flat>
                    <v-text-field
                        v-model="search"
                        append-icon="mdi-magnify"
                        label="Search"
                        single-line
                        hide-details
                    ></v-text-field>
                    <v-btn
                        class="ma-2"
                        small
                        text
                        icon
                        color="pink lighten-2"
                        @click="clearSearch"
                    >
                        <v-icon>mdi-cancel</v-icon>
                    </v-btn>
                    <v-btn
                        color="success"
                        dark
                        class="mb-2"
                        @click="dialog = true"
                    >New Book</v-btn>    
                </v-toolbar>
            </template>

            <template v-slot:item.actions="{ item }">
                <v-btn
                color="pink"
                fab
                x-small
                icon
                lighten
                @click="deleteItem(item)"
                >
                    <v-icon>mdi-delete</v-icon>
                </v-btn>
            </template>

            <template v-slot:item.author="props">
                <v-edit-dialog
                    :return-value.sync="props.item.author"
                    large
                    @save="saveEdit(props.item)"
                >
                    <div>{{ props.item.author }}</div>
                    <template v-slot:input>
                        <div class="mt-4 text-h6">
                            Update Author
                        </div>
                        <v-text-field
                            v-model="props.item.author"
                            :rules="inputRules"
                            label="Edit"
                            single-line
                            counter
                            autofocus
                            type="text"
                        ></v-text-field>
                    </template>
                </v-edit-dialog>
            </template>

            <template v-slot:footer.prepend>
                <v-row align="center">
                <v-col
                    class="d-flex"
                    cols="2"
                >
                    <h4 class="text-left">
                        Export
                    </h4>
                </v-col>
                <v-col
                    class="d-flex"
                    cols="3"
                >
                    <v-select 
                        v-model="selected"
                        class="pt20"
                        :items="allowedTypes"
                        label="Type"
                        placeholder="Type"
                        dense
                        solo
                    ></v-select>
                </v-col>
                <v-col
                    class="d-flex"
                    cols="2"
                >
                    <v-menu offset-x>
                        <template v-slot:activator="{ on, attrs }">
                            <v-btn
                            color="primary"
                            dark
                            v-bind="attrs"
                            v-on="on"
                            >
                            Download
                            </v-btn>
                        </template>
                        <v-list>
                            <v-list-item
                            v-for="(item, index) in downloadOptions"
                            :key="index"
                            @click="handleClick(index)"
                            >
                            <v-list-item-title>{{ item.title }}</v-list-item-title>
                            </v-list-item>
                        </v-list>
                    </v-menu>
                </v-col>
                </v-row>
            </template>

        </v-data-table>

        <v-snackbar
            v-model="snack"
            :timeout="3000"
            :color="snackColor"
            top
        >
            {{ snackText }}

            <template v-slot:action="{ attrs }">
                <v-btn
                    v-bind="attrs"
                    text
                    @click="snack = false"
                >Close</v-btn>
            </template>
        </v-snackbar>

        <v-dialog v-model="dialogDelete" max-width="500px">
            <v-card>
                <v-card-title class="text-h5">
                    Are you sure you want to delete this item?
                </v-card-title>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn 
                        color="red darken-1" 
                        text 
                        @click="dialogDelete = false"
                    >Cancel</v-btn>
                    <v-btn 
                        color="blue darken-1" 
                        text 
                        @click="deleteItemConfirm"
                    >OK</v-btn>
                    <v-spacer></v-spacer>
                </v-card-actions>
            </v-card>
        </v-dialog>

        <v-dialog v-model="dialog" persistent max-width="500px">
            <v-card>
                <v-card-title>
                    <span class="text-h5">New Book</span>
                </v-card-title>
                <v-form ref="form">
                <v-card-text>
                    <v-container>
                        <v-row>
                            <v-col cols="12">
                                <v-text-field
                                    v-model="selectedItem.title"
                                    :rules="inputRules"
                                    label="Title"
                                ></v-text-field>
                            </v-col>
                        </v-row>
                        <v-row>    
                            <v-col cols="12">
                                <v-text-field
                                    v-model="selectedItem.author"
                                    :rules="inputRules"
                                    label="Author"
                                ></v-text-field>
                            </v-col>
                        </v-row>
                    </v-container>
                </v-card-text>
                </v-form>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                        color="red darken-1"
                        text
                        @click="dialog = false"
                    >Cancel</v-btn>
                    <v-btn
                        color="blue darken-1"
                        text
                        @click="onSave"
                    >Save</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
    import exportFromJSON from 'export-from-json';

    export default {

        data: () => ({
            books: [],
            headers: [
                {
                    text: '#',
                    align: 'start',
                    value: 'id',
                    sortable: false,
                    filterable: false,
                },
                {
                    text: 'Title',
                    value: 'title',
                },
                { 
                    text: 'Author', 
                    value: 'author',
                },
                { 
                    text: 'Actions', 
                    value: 'actions', 
                    sortable: false 
                },
            ],
            loading: true,
            search: '',
            inputRules: [
                value => !!value || 'Required.',
                value => (value || '').length <= 100 || 'Max 100 characters',
            ],
            snack: false,
            snackColor: '',
            snackText: '',
            dialogDelete: false,
            selectedItem: {
                id: '',
                title: '',
                author: '',
            },
            defaultItem: {
                id: '',
                title: '',
                author: '',
            },
            dialog: false,
            allowedTypes: [
                'csv',
                'xml',
            ],
            selected: null,
            downloadOptions: [
                { title: 'Download All', value: 'all', },
                { title: 'Title Only', value: 'title', },
                { title: 'Authors Only', value: 'author', },
            ],
        }),

        created() {
            this.initialize();
        },

        watch: {
            dialog() {
                if(this.$refs.form) {
                    this.$refs.form.reset()
                }
            }
        },

        methods: {
            
            initialize() {
                this.getBooks();
            },

            getBooks(api_url) {
                api_url = api_url || '/api/books';
                fetch(api_url)
                    .then(response => response.json())
                    .then(response => {
                        this.books = response.data;
                        this.loading = false;
                    })
                    .catch(err => console.log(err));
            },

            clearSearch() {
                this.search = "";
            },

            saveEdit(item) {
                this.updateBook(item)
                    .then(response => response.json())
                    .then(data => {
                        this.snack = true
                        this.snackColor = 'success'
                        this.snackText = 'Record updated'
                    })
                    .catch(err => {
                        this.snack = true
                        this.snackColor = 'error'
                        this.snackText = err   
                    });
            },

            updateBook(book) {
                return fetch('api/books/' + book.id, {
                    method: 'PUT',
                    body: JSON.stringify(book),
                    headers: {
                        'content-type': 'application/json'
                    }
                })
            },

            deleteItem(item) {
                this.dialogDelete = true
                this.selectedItem = item
            },

            deleteItemConfirm() {
                this.deleteBook()
                    .then(response => response.json())
                    .then(data => {
                        this.getBooks();
                        this.snack = true
                        this.snackColor = 'success'
                        this.snackText = 'Record deleted'
                        this.selectedItem = Object.assign({}, this.defaultItem)
                        this.dialogDelete = false
                    })
                    .catch(err => {
                        this.snack = true
                        this.snackColor = 'error'
                        this.snackText = err 
                        this.selectedItem = Object.assign({}, this.defaultItem)
                        this.dialogDelete = false
                    })
            },

            deleteBook(book) {
                return fetch('api/books/' + this.selectedItem.id, {
                    method: 'DELETE'
                })
            },

            onSave () {
                if (!this.$refs.form.validate()) 
                    return
                
                this.addBook()
                    .then(response => response.json())
                    .then(data => {
                        this.getBooks();
                        this.snack = true
                        this.snackColor = 'success'
                        this.snackText = 'Record added'
                        this.dialog = false
                    })
                    .catch(err => {
                        this.snack = true
                        this.snackColor = 'error'
                        this.snackText = err 
                        this.dialog = false
                    });
            },

            addBook() {
                return fetch('api/books', {
                    method: 'POST',
                    body: JSON.stringify(this.selectedItem),
                    headers: {
                        'content-type': 'application/json'
                    }
                })
            },

            handleClick(index) {
                if (!this.selected) {
                    this.snack = true
                    this.snackColor = 'error'
                    this.snackText = 'Please specify export type'
                    return
                }
                
                const exportType = this.selected;
                const exportOption = this.downloadOptions[index].value;
                let jsonObject = []
                let fileName = 'downlaod'

                switch(exportOption) {
                    case 'all':
                        jsonObject = Object.assign([], this.books)
                        break;
                    case 'title':
                        jsonObject = this.filterBooks('author');
                        fileName = 'title_only'
                        break;
                    case 'author':
                        jsonObject = this.filterBooks('title');
                        fileName = 'author_only'
                        break;
                }
                
                this.download(jsonObject, fileName, exportType)
            },

            filterBooks(key) {
                let filterObject = JSON.parse(JSON.stringify(this.books));
                filterObject.forEach(function(v){ 
                    delete v.[key] 
                })
                return filterObject;   
            },

            download(data, fileName, exportType) {
                exportFromJSON({ data, fileName, exportType })
            }
        },
    }
</script>

<style scoped>
    .pt20{
        padding-top: 20px; 
    }
</style>